:root {
  --primery-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-white-color: #ffffff;
  --backgr-color-botton: #f5f4fa;
  --accent-button-color: #2196f3;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: var(--accent-white-color);
  font-family: "Roboto", sans-serif;
  color: var(--tittle-text-color);
  /* width: 1230px;
  padding-left: 15px;
  padding-right: 15px; */
}

/* display: flex;
  align-items: center;
  justify-content: space-between; */

.logo {
}
.header-container {
}

.studio-logo {
  color: var(--tittle-text-color);
  font-family: Raleway;
  font-weight: bold;
  /* font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em; */
}
.web-logo {
  color: var(--accent-button-color);
  font-family: Raleway;
  font-weight: bold;
  /* font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em; */
}
.links :hover,
.links :focus {
  color: var(--accent-button-color);
}
.links {
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex; */
}
.current-link :hover,
.current-link :focus {
  color: var(--accent-button-color);
}
.current-link {
  font-family: Roboto;
  /* font-weight: 500;
  font-size: 14px; */
}
.nav-link :hover,
.nav-link :focus {
  color: var(--accent-button-color);
}
.nav-link {
  font-family: Roboto;
  /* font-weight: 500;
  font-size: 14px; */
}
.contacts-nav :hover,
.contacts-nav :focus {
  color: var(--accent-button-color);
}
.contacts-nav {
  color: var(--primery-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 1600px;
  height: 80px;
  display: flex; */
}

.hero-section {
  background: #2f303a;
  /* width: 100%; */
  /* width: 1600px;
  height: 600px;*/
}
.hero-title {
  color: var(--accent-white-color);
  text-transform: uppercase;
  /* width: 696px;
  height: 120px; */
}
.hero-button {
  /* width: 200px;
  height: 50px; */
  color: var(--accent-white-color);
  background-color: var(--accent-button-color);
}
/*.section-advantages {
  position: absolute;
  width: 1247px;
  height: 101px;
  left: 215px;
  top: 774px;
}*/
.advantage {
  color: var(--primery-text-color);
  /* width: 270px;
  height: 75px; */
}

.job-section {
  /* display: flex;
  flex-wrap: wrap; */
}

.section-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  color: var(--tittle-text-color);
}
/*.job-image{}*/
.secondary-title {
  font-family: Roboto;
  /* font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em; */
  color: var(--tittle-text-color);
  text-transform: uppercase;
}
.text {
  color: var(--primery-text-color);
}
.team {
  background: var(--backgr-color-botton);
}
/*
.team-faces {
}
.team-card {
}
*/
.text-position {
  font-family: Roboto;
  /* font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em; */
  color: var(--primery-text-color);
}
.footer {
  background: #2f303a;
  /* margin-bottom: 0;
  width: 100%; */
}

.studio-footer {
  font-family: Raleway;
  font-weight: bold;
  /* font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em; */
  color: var(--accent-white-color);
}
.adress {
  font-family: Roboto;
  /* font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em; */
  color: var(--accent-white-color);
}
.contact-footer {
  font-family: Roboto;
  /* font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em; */
  color: rgba(255, 255, 255, 0.6);
}
/*------------------PORTFOLIO---------------------*/
.button-portfolio {
  font-family: Roboto;
  /* font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em; */
  color: var(--tittle-text-color);
  background: var(--backgr-color-botton);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-button-color);
}
.project-name {
  font-family: Roboto;
  font-weight: bold;
  /* font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em; */
  color: var(--tittle-text-color);
}
.project-type {
  font-family: Roboto;
  /* font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em; */
  color: var(--primery-text-color);
}
